.listItem {
  cursor: pointer;
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #555555;
  transition: background-color 0.2s ease-in-out;
}

.listItem:hover {
  background-color: #606060;
}
