.popupMenu {
  width: 300px;
  height: 70px;
}

.toggleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle {
  margin-left: 10px;
}

.feedbackButton {
  background-color: #38ab68;
  color: white;
}

.feedbackButton:hover {
  background-color: #38a169;
}

.feedbackButton:active {
  background-color: #2f855a;
}
